<div class="container">
  <div class="title">
    Detail Shoe Soles
    <a href="#shoeSoles" class="back">
      <i class="bx bx-arrow-back bx-rotate-180" style="font-size: 18px"></i>
    </a>
  </div>
  <div class="content">
    <form>
      <div class="user-details">
        <div class="input-box">
          <span class="details">Mã đế</span>
          <input type="text" placeholder="Mã đế" ng-model="made" readonly />
        </div>
        <div class="input-box">
          <span class="details">Tên đế</span>
          <input type="text" placeholder="Tên đế" ng-model="ten" readonly />
        </div>
        <div class="input-box">
          <span class="details">Mô tả</span>
          <input type="text" placeholder="Mô tả" ng-model="mota" readonly />
        </div>
      </div>
    </form>
  </div>
</div>
